.nav-pills > li a {
    background-color: #546575;
}

.nav-pills > li:hover a {
    background-color: #aaa;
    color: #ebebeb;
}

.nav-pills > li.tab-active a {
    background-color: #e78200;
    color: #ebebeb;
}

.nav-pills > li.tab-disable {
    background-color: #546575;
    color: #ebebeb;
    opacity: 0.3;
}

.nav-pills > li.tab-disable:hover {
    opacity: 0.3;
}

.nav-pills > li.tab-disable a:hover {
    background-color: #546575;
    color: #ebebeb;
}
