@model WizardDemo.Models.PersonViewModel

<div id="form-container">
    @Html.DisplayFor(m=>m.NavBar)

    <form action="@Url.Action(Model.ActionName,Model.ControllerName, new { area = Model.AreaName })" , data-replace-target-selector="#form-container" class="brick-wizard-form">
        <fieldset>
            @Html.EditorFor(m=>m.PersonName)
            @Html.BrickWizardSubmitActions(ButtonsToRender.JustSubmit, SubmitStyle.Next)
        </fieldset>
    </form>
    <script>
        $(function () {
            brickWizardHandlerInit();
        });
    </script>
</div>
