@model WizardDemo.Models.PersonViewModel

@using WizardDemo.HtmlHelpers

<div class="main-container" data-namespace="person-form">
    <div id="form-container">
        @Html.Partial("NavBarDefault", Model.NavBar, new ViewDataDictionary { { "ControllerName", Model.ControllerName } })

        @using (Ajax.BeginForm(Model.ActionName, Model.ControllerName, StandardHtmlAttributes.AjaxOptions, StandardHtmlAttributes.BrickWizardForm("person-form")))
            {
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.FormControl(model => model.PersonBirthday.BirthDay, TypeOfInput.DateTime)
                        @Html.FormControl(model => model.PersonBirthday.Genre, TypeOfInput.CheckBox)
                    </div>
                </div>
                @Html.BrickWizardSubmitActions(ButtonsToRender.Both, SubmitStyle.Next, Url.Action(Model.PreviousStep.ActionName, Model.ControllerName))
            </fieldset>
        }
    </div>
</div>

<script>
    brickWizardHandlerInit();
</script>
