@model WizardDemo.Models.PersonViewModel

@using WizardDemo.HtmlHelpers

<div id="form-container">
    @Html.Partial("NavBarDefault", Model.NavBar)

    @using (Ajax.BeginForm(Model.ActionName, Model.ControllerName, StandardHtmlAttributes.AjaxOptions, StandardHtmlAttributes.BrickWizardForm("person-form")))
    {
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.FormControl(model => model.PersonName.PersonFirstName, TypeOfInput.Text)
                    @Html.FormControl(model => model.PersonName.PersonLastName, TypeOfInput.Text)
                </div>
            </div>
            @Html.BrickWizardSubmitActions(ButtonsToRender.JustSubmit, SubmitStyle.Next)
        </fieldset>
    }
</div>

<script>
    $(function () {
        brickWizardHandlerInit();
    });
</script>
