@model WizardDemo.Models.PersonViewModel

@using WizardDemo.HtmlHelpers

<div id="form-container">
    @Html.Partial("NavBarDefault", Model.NavBar)

    @using (Ajax.BeginForm(Model.ActionName, Model.ControllerName, StandardHtmlAttributes.AjaxOptions, StandardHtmlAttributes.BrickWizardForm("person-form")))
    {
        <fieldset>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.FormControl(model => model.PersonWorkInfo.WorkTitle, TypeOfInput.Text)
                    @Html.FormControl(model => model.PersonWorkInfo.Company, TypeOfInput.Text)                 
                </div>
            </div>

           @Html.BrickWizardSubmitActions(ButtonsToRender.Both, SubmitStyle.Next, Url.Action(Model.PreviousStep.ActionName, Model.ControllerName))
        </fieldset>
    }
</div>
<script>
    brickWizardHandlerInit();
</script>

