@model WizardDemo.Models.PersonAcceptTermsViewModel
<div class="panel panel-default">
    <div class="panel-body">
        @Html.FormControl(model => model.AcceptTerms, TypeOfInput.CheckBox)
    </div>
</div>
