@model WizardDemo.Models.PersonIsStudentViewModel
<div class="panel panel-default">
    <div class="panel-body">
        @Html.FormControl(model => model.IsStudent, TypeOfInput.CheckBox)
    </div>
</div>
