body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*bootstrap override*/
html {
    overflow-y: scroll;
}

.badge {
    margin-right: 5px;
}
.form-horizontal .control-label {
    text-align: left;
}

.field-validation-error {
    font-weight: 900;
    color: #ffccbc;
}

.navbar-brand, .footer-content {
    padding: 5px 10px;
}

img.navbar-brand-logo {
    position: absolute;
    z-index: 999999 !important;
}

.body-content {
    margin-top: 15px;
}

footer.navbar-fixed-bottom {
    height: 40px;
    background-color: #e78200;
}

.body-content {
    margin-bottom: 30px;
}
.footer-content {
    padding: 9px;
}

input.input-validation-error {
    box-shadow: 5px 5px;
    box-shadow: 2px 2px 2px transparent inset, 0 0 8px rgba(255, 204, 188, 1) !important;
}

.form-control-inline {
    display:inline;
}
.validation-error-inline {
    padding-left: 10px;
}

.horizontal-form-label{
    display:block;
}

/*Wizard classes*/
.wizard-nav-container {
    padding-bottom: 10px;
    padding-top: 10px;
}



